.custom-upload-container .custom-upload-file-list-view .custom-upload-file-view .custom-image {
    display: inline-block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: var(--dxds-spacing-0, 0rem);
}

svg.custom-image {
    width: var(--dxds-spacing-200, 1rem);
    height: var(--dxds-spacing-200, 1rem);
    fill: currentcolor;
}
